.App {
  text-align: center;
  background-color: #f5f5f5; /* Light grey background */
  color: #333; /* Dark grey text */
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  color: #444; /* Slightly darker grey for the heading */
}

button {
  margin: 5px; /* Ensure there is some margin around buttons */
}

button.MuiButton-contained {
  background-color: #4caf50; /* Green background for contained buttons */
  color: #fff; /* White text */
}

button.MuiButton-outlined {
  border-color: #2196f3; /* Blue border for outlined buttons */
  color: #2196f3; /* Blue text */
}

button.MuiButton-outlined:hover {
  background-color: rgba(33, 150, 243, 0.04); /* Light blue background on hover for outlined buttons */
}

button.MuiButton-contained:hover {
  background-color: #388e3c; /* Darker green on hover for contained buttons */
}
